:root{
    --dark: #17c3b2;
    --light: whitesmoke;
}

body{
    background-color: #343a40;
    padding: 20px;
}

header h1{
    font-size: 48px;
    text-align: center;
    color: var(--dark);
}

section p {
    padding: 20px;
    color: var(--light);
    text-align: center;
}

article p {
    padding: 10px;
    color: var(--dark)
    
}

article code,
article pre {
    background-image: linear-gradient(
    rgb(33, 96, 95) 0%,
    var(--dark) 100%
  );
}

article pre{
    padding: 8px;
}

 .boxes { 
    padding: 20px;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    }

article {
    padding: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-style: dotted;
    margin: 0 16px;
    margin-top: 8px;
    margin-bottom: 16px;
    border-color: var(--light);
    width: calc(33.33% - 32px);
}

article h2{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid whitesmoke 2px;
    border-radius: 5px;
    padding: 4px;
    color: var(--dark);
}

article:hover,
article:hover h2{
    box-shadow: 0 0 16px lightblue;
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
}

footer h2{
    font-size: 28px;
    color: var(--dark)
}

@media screen and (max-width: 1160px) { 
   article {
    width: calc(50% - 32px)
    }
  }

@media screen and (max-width: 768px) { 
    article {
        width: calc(100% - 32px)
    }
}
  